* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.first_div {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15%;
	background-color: lightgray;
}
.heading {
	padding: 1%;
}
h1 {
	font-size: 3vw;
}
/*.second_div{
    margin: 0;
   
    width: 100%;
    height: 10%;
    z-index: 333;
}*/
ul {
	list-style: none;
	overflow: auto;
	background-color: black;
	z-index: 333;
}
li {
	float: left;

	padding: .5%;
}
li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.list {
	border-style: solid;
	border-width: 0 1px 0 1px;
	border-color: white;
}

.list:hover {
	background-color: yellowgreen;
}
a {
	font-size: 1.2vw;
}
/*header ends here*/
/*middle part start here*/
.middle_div {
	width: 100%;
	height: 50%;
}
.third_div {
	float: left;
	margin: 0;
	width: 68%;
	height: 50%;
	position: absolute;
}
.second_heading,
.third_heading {
	color: blue;
}
.second_heading,
p {
	padding: 2%;
}
.forth_div {
	float: left;
	width: 28%;
	margin-left: 72%;
	padding: 2%;
	height: 78%;
	background-color: lightgray;
}
.para_2 {
	padding-bottom: 92%;
}
p {
	font-size: 1vw;
}
h3 {
	font-size: 1.5vw;
}
/*middle part ends here*/
